@charset "UTF-8";

@font-face {
  font-family: "gold";
  src:url("fonts/gold.eot");
  src:url("fonts/goldd41d.eot?#iefix") format("embedded-opentype"),
    url("fonts/gold.woff") format("woff"),
    url("fonts/gold.ttf") format("truetype"),
    url("fonts/gold.svg#gold") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gold" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gold" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-armchair-chair-streamline:before {
  content: "a";
}
.icon-arrow-streamline-target:before {
  content: "b";
}
.icon-backpack-streamline-trekking:before {
  content: "c";
}
.icon-bag-shopping-streamline:before {
  content: "d";
}
.icon-barbecue-eat-food-streamline:before {
  content: "e";
}
.icon-barista-coffee-espresso-streamline:before {
  content: "f";
}
.icon-bomb-bug:before {
  content: "g";
}
.icon-book-dowload-streamline:before {
  content: "h";
}
.icon-book-read-streamline:before {
  content: "i";
}
.icon-browser-streamline-window:before {
  content: "j";
}
.icon-brush-paint-streamline:before {
  content: "k";
}
.icon-bubble-comment-streamline-talk:before {
  content: "l";
}
.icon-bubble-love-streamline-talk:before {
  content: "m";
}
.icon-caddie-shop-shopping-streamline:before {
  content: "n";
}
.icon-caddie-shopping-streamline:before {
  content: "o";
}
.icon-camera-photo-polaroid-streamline:before {
  content: "p";
}
.icon-camera-photo-streamline:before {
  content: "q";
}
.icon-camera-streamline-video:before {
  content: "r";
}
.icon-chaplin-hat-movie-streamline:before {
  content: "s";
}
.icon-chef-food-restaurant-streamline:before {
  content: "t";
}
.icon-clock-streamline-time:before {
  content: "u";
}
.icon-cocktail-mojito-streamline:before {
  content: "v";
}
.icon-coffee-streamline:before {
  content: "w";
}
.icon-computer-imac:before {
  content: "x";
}
.icon-computer-imac-2:before {
  content: "y";
}
.icon-computer-macintosh-vintage:before {
  content: "z";
}
.icon-computer-network-streamline:before {
  content: "A";
}
.icon-computer-streamline:before {
  content: "B";
}
.icon-cook-pan-pot-streamline:before {
  content: "C";
}
.icon-crop-streamline:before {
  content: "D";
}
.icon-crown-king-streamline:before {
  content: "E";
}
.icon-danger-death-delete-destroy-skull-stream:before {
  content: "F";
}
.icon-dashboard-speed-streamline:before {
  content: "G";
}
.icon-database-streamline:before {
  content: "H";
}
.icon-delete-garbage-streamline:before {
  content: "I";
}
.icon-design-graphic-tablet-streamline-tablet:before {
  content: "J";
}
.icon-design-pencil-rule-streamline:before {
  content: "K";
}
.icon-diving-leisure-sea-sport-streamline:before {
  content: "L";
}
.icon-drug-medecine-streamline-syringue:before {
  content: "M";
}
.icon-earth-globe-streamline:before {
  content: "N";
}
.icon-eat-food-fork-knife-streamline:before {
  content: "O";
}
.icon-eat-food-hotdog-streamline:before {
  content: "P";
}
.icon-edit-modify-streamline:before {
  content: "Q";
}
.icon-email-mail-streamline:before {
  content: "R";
}
.icon-envellope-mail-streamline:before {
  content: "S";
}
.icon-eye-dropper-streamline:before {
  content: "T";
}
.icon-factory-lift-streamline-warehouse:before {
  content: "U";
}
.icon-first-aid-medecine-shield-streamline:before {
  content: "V";
}
.icon-food-ice-cream-streamline:before {
  content: "W";
}
.icon-frame-picture-streamline:before {
  content: "X";
}
.icon-grid-lines-streamline:before {
  content: "Y";
}
.icon-handle-streamline-vector:before {
  content: "Z";
}
.icon-happy-smiley-streamline:before {
  content: "0";
}
.icon-headset-sound-streamline:before {
  content: "1";
}
.icon-home-house-streamline:before {
  content: "2";
}
.icon-ibook-laptop:before {
  content: "3";
}
.icon-ink-pen-streamline:before {
  content: "4";
}
.icon-ipad-streamline:before {
  content: "5";
}
.icon-iphone-streamline:before {
  content: "6";
}
.icon-ipod-mini-music-streamline:before {
  content: "7";
}
.icon-ipod-music-streamline:before {
  content: "8";
}
.icon-ipod-streamline:before {
  content: "9";
}
.icon-japan-streamline-tea:before {
  content: "!";
}
.icon-laptop-macbook-streamline:before {
  content: "\"";
}
.icon-like-love-streamline:before {
  content: "#";
}
.icon-link-streamline:before {
  content: "$";
}
.icon-lock-locker-streamline:before {
  content: "%";
}
.icon-locker-streamline-unlock:before {
  content: "&";
}
.icon-macintosh:before {
  content: "'";
}
.icon-magic-magic-wand-streamline:before {
  content: "(";
}
.icon-magnet-streamline:before {
  content: ")";
}
.icon-man-people-streamline-user:before {
  content: "*";
}
.icon-map-pin-streamline:before {
  content: "+";
}
.icon-map-streamline-user:before {
  content: ",";
}
.icon-micro-record-streamline:before {
  content: "-";
}
.icon-monocle-mustache-streamline:before {
  content: ".";
}
.icon-music-note-streamline:before {
  content: "/";
}
.icon-music-speaker-streamline:before {
  content: ":";
}
.icon-notebook-streamline:before {
  content: ";";
}
.icon-paint-bucket-streamline:before {
  content: "<";
}
.icon-painting-pallet-streamline:before {
  content: "=";
}
.icon-painting-roll-streamline:before {
  content: ">";
}
.icon-pen-streamline:before {
  content: "?";
}
.icon-pen-streamline-1:before {
  content: "@";
}
.icon-pen-streamline-2:before {
  content: "[";
}
.icon-pen-streamline-3:before {
  content: "]";
}
.icon-photo-pictures-streamline:before {
  content: "^";
}
.icon-picture-streamline:before {
  content: "_";
}
.icon-picture-streamline-1:before {
  content: "`";
}
.icon-receipt-shopping-streamline:before {
  content: "{";
}
.icon-remote-control-streamline:before {
  content: "|";
}
.icon-settings-streamline:before {
  content: "}";
}
.icon-settings-streamline-1:before {
  content: "~";
}
.icon-settings-streamline-2:before {
  content: "\\";
}
.icon-shoes-snickers-streamline:before {
  content: "\e000";
}
.icon-speech-streamline-talk-user:before {
  content: "\e001";
}
.icon-stamp-streamline:before {
  content: "\e002";
}
.icon-streamline-suitcase-travel:before {
  content: "\e003";
}
.icon-streamline-sync:before {
  content: "\e004";
}
.icon-streamline-umbrella-weather:before {
  content: "\e005";
}
.icon-banknote:before {
  content: "\e006";
}
.icon-bubble:before {
  content: "\e007";
}
.icon-bulb:before {
  content: "\e008";
}
.icon-calendar:before {
  content: "\e009";
}
.icon-camera:before {
  content: "\e00a";
}
.icon-clip:before {
  content: "\e00b";
}
.icon-clock:before {
  content: "\e00c";
}
.icon-cloud:before {
  content: "\e00d";
}
.icon-cup:before {
  content: "\e00e";
}
.icon-data:before {
  content: "\e00f";
}
.icon-diamond:before {
  content: "\e010";
}
.icon-display:before {
  content: "\e011";
}
.icon-eye:before {
  content: "\e012";
}
.icon-fire:before {
  content: "\e013";
}
.icon-food:before {
  content: "\e014";
}
.icon-heart:before {
  content: "\e015";
}
.icon-key:before {
  content: "\e016";
}
.icon-lab:before {
  content: "\e017";
}
.icon-like:before {
  content: "\e018";
}
.icon-location:before {
  content: "\e019";
}
.icon-lock:before {
  content: "\e01a";
}
.icon-mail:before {
  content: "\e01b";
}
.icon-megaphone:before {
  content: "\e01c";
}
.icon-music:before {
  content: "\e01d";
}
.icon-news:before {
  content: "\e01e";
}
.icon-note:before {
  content: "\e01f";
}
.icon-paperplane:before {
  content: "\e020";
}
.icon-params:before {
  content: "\e021";
}
.icon-pen:before {
  content: "\e022";
}
.icon-phone:before {
  content: "\e023";
}
.icon-photo:before {
  content: "\e024";
}
.icon-search:before {
  content: "\e025";
}
.icon-settings:before {
  content: "\e026";
}
.icon-shop:before {
  content: "\e027";
}
.icon-sound:before {
  content: "\e028";
}
.icon-stack:before {
  content: "\e029";
}
.icon-star:before {
  content: "\e02a";
}
.icon-study:before {
  content: "\e02b";
}
.icon-t-shirt:before {
  content: "\e02c";
}
.icon-tag:before {
  content: "\e02d";
}
.icon-trash:before {
  content: "\e02e";
}
.icon-truck:before {
  content: "\e02f";
}
.icon-tv:before {
  content: "\e030";
}
.icon-user:before {
  content: "\e031";
}
.icon-vallet:before {
  content: "\e032";
}
.icon-video:before {
  content: "\e033";
}
.icon-vynil:before {
  content: "\e034";
}
.icon-world:before {
  content: "\e035";
}
.icon-bag:before {
  content: "\e036";
}
.icon-bicycle:before {
  content: "\e037";
}
.icon-bicycle-vintage:before {
  content: "\e038";
}
.icon-browser-empty:before {
  content: "\e039";
}
.icon-browser-full:before {
  content: "\e03a";
}
.icon-bubble-1:before {
  content: "\e03b";
}
.icon-bubble-2:before {
  content: "\e03c";
}
.icon-bubble-3:before {
  content: "\e03d";
}
.icon-camera-1:before {
  content: "\e03e";
}
.icon-clap-board:before {
  content: "\e03f";
}
.icon-clipboard:before {
  content: "\e040";
}
.icon-clock-1:before {
  content: "\e041";
}
.icon-cloud-1:before {
  content: "\e042";
}
.icon-cloudy:before {
  content: "\e043";
}
.icon-envelope:before {
  content: "\e044";
}
.icon-file-ai:before {
  content: "\e045";
}
.icon-file-jpg:before {
  content: "\e046";
}
.icon-file-png:before {
  content: "\e047";
}
.icon-file-psd:before {
  content: "\e048";
}
.icon-file-text:before {
  content: "\e049";
}
.icon-graph:before {
  content: "\e04a";
}
.icon-heart-1:before {
  content: "\e04b";
}
.icon-hierarchy:before {
  content: "\e04c";
}
.icon-hierarchy-2:before {
  content: "\e04d";
}
.icon-imac:before {
  content: "\e04e";
}
.icon-ipad:before {
  content: "\e04f";
}
.icon-iphone:before {
  content: "\e050";
}
.icon-keyboard:before {
  content: "\e051";
}
.icon-laptop:before {
  content: "\e052";
}
.icon-line:before {
  content: "\e053";
}
.icon-list:before {
  content: "\e054";
}
.icon-list-thumbnails:before {
  content: "\e055";
}
.icon-lock-1:before {
  content: "\e056";
}
.icon-magnifier:before {
  content: "\e057";
}
.icon-map:before {
  content: "\e058";
}
.icon-map-pin:before {
  content: "\e059";
}
.icon-moon:before {
  content: "\e05a";
}
.icon-mouse:before {
  content: "\e05b";
}
.icon-pencil:before {
  content: "\e05c";
}
.icon-pencil-ruler:before {
  content: "\e05d";
}
.icon-picture:before {
  content: "\e05e";
}
.icon-rain:before {
  content: "\e05f";
}
.icon-ribbon:before {
  content: "\e060";
}
.icon-shoe:before {
  content: "\e061";
}
.icon-speaker:before {
  content: "\e062";
}
.icon-speaker-off:before {
  content: "\e063";
}
.icon-sun:before {
  content: "\e064";
}
.icon-tape:before {
  content: "\e065";
}
.icon-target:before {
  content: "\e066";
}
.icon-unlock:before {
  content: "\e067";
}
.icon-hand61:before {
  content: "\e068";
}
.icon-list23:before {
  content: "\e069";
}
.icon-play38:before {
  content: "\e06a";
}
.icon-address:before {
  content: "\e06b";
}
.icon-adjust:before {
  content: "\e06c";
}
.icon-air:before {
  content: "\e06d";
}
.icon-alert:before {
  content: "\e06e";
}
.icon-archive:before {
  content: "\e06f";
}
.icon-arrow-combo:before {
  content: "\e070";
}
.icon-arrows-ccw:before {
  content: "\e071";
}
.icon-attach:before {
  content: "\e072";
}
.icon-attention:before {
  content: "\e073";
}
.icon-back:before {
  content: "\e074";
}
.icon-back-in-time:before {
  content: "\e075";
}
.icon-bag-1:before {
  content: "\e076";
}
.icon-basket:before {
  content: "\e077";
}
.icon-battery:before {
  content: "\e078";
}
.icon-behance:before {
  content: "\e079";
}
.icon-bell:before {
  content: "\e07a";
}
.icon-block:before {
  content: "\e07b";
}
.icon-book:before {
  content: "\e07c";
}
.icon-book-open:before {
  content: "\e07d";
}
.icon-bookmark:before {
  content: "\e07e";
}
.icon-bookmarks:before {
  content: "\e07f";
}
.icon-box:before {
  content: "\e080";
}
.icon-briefcase:before {
  content: "\e081";
}
.icon-brush:before {
  content: "\e082";
}
.icon-bucket:before {
  content: "\e083";
}
.icon-calendar-1:before {
  content: "\e084";
}
.icon-camera-2:before {
  content: "\e085";
}
.icon-cancel:before {
  content: "\e086";
}
.icon-cancel-circled:before {
  content: "\e087";
}
.icon-cancel-squared:before {
  content: "\e088";
}
.icon-cc:before {
  content: "\e089";
}
.icon-cc-by:before {
  content: "\e08a";
}
.icon-cc-nc:before {
  content: "\e08b";
}
.icon-cc-nc-eu:before {
  content: "\e08c";
}
.icon-cc-nc-jp:before {
  content: "\e08d";
}
.icon-cc-nd:before {
  content: "\e08e";
}
.icon-cc-pd:before {
  content: "\e08f";
}
.icon-cc-remix:before {
  content: "\e090";
}
.icon-cc-sa:before {
  content: "\e091";
}
.icon-cc-share:before {
  content: "\e092";
}
.icon-cc-zero:before {
  content: "\e093";
}
.icon-ccw:before {
  content: "\e094";
}
.icon-cd:before {
  content: "\e095";
}
.icon-chart-area:before {
  content: "\e096";
}
.icon-chart-bar:before {
  content: "\e097";
}
.icon-chart-line:before {
  content: "\e098";
}
.icon-chart-pie:before {
  content: "\e099";
}
.icon-chat:before {
  content: "\e09a";
}
.icon-check:before {
  content: "\e09b";
}
.icon-clipboard-1:before {
  content: "\e09c";
}
.icon-clock-2:before {
  content: "\e09d";
}
.icon-cloud-2:before {
  content: "\e09e";
}
.icon-cloud-thunder:before {
  content: "\e09f";
}
.icon-code:before {
  content: "\e0a0";
}
.icon-cog:before {
  content: "\e0a1";
}
.icon-comment:before {
  content: "\e0a2";
}
.icon-compass:before {
  content: "\e0a3";
}
.icon-credit-card:before {
  content: "\e0a4";
}
.icon-cup-1:before {
  content: "\e0a5";
}
.icon-cw:before {
  content: "\e0a6";
}
.icon-database:before {
  content: "\e0a7";
}
.icon-db-shape:before {
  content: "\e0a8";
}
.icon-direction:before {
  content: "\e0a9";
}
.icon-doc:before {
  content: "\e0aa";
}
.icon-doc-landscape:before {
  content: "\e0ab";
}
.icon-doc-text:before {
  content: "\e0ac";
}
.icon-doc-text-inv:before {
  content: "\e0ad";
}
.icon-docs:before {
  content: "\e0ae";
}
.icon-dot:before {
  content: "\e0af";
}
.icon-dot-2:before {
  content: "\e0b0";
}
.icon-dot-3:before {
  content: "\e0b1";
}
.icon-down:before {
  content: "\e0b2";
}
.icon-down-bold:before {
  content: "\e0b3";
}
.icon-down-circled:before {
  content: "\e0b4";
}
.icon-down-dir:before {
  content: "\e0b5";
}
.icon-down-open:before {
  content: "\e0b6";
}
.icon-down-open-big:before {
  content: "\e0b7";
}
.icon-down-open-mini:before {
  content: "\e0b8";
}
.icon-down-thin:before {
  content: "\e0b9";
}
.icon-download:before {
  content: "\e0ba";
}
.icon-dribbble:before {
  content: "\e0bb";
}
.icon-dribbble-circled:before {
  content: "\e0bc";
}
.icon-drive:before {
  content: "\e0bd";
}
.icon-dropbox:before {
  content: "\e0be";
}
.icon-droplet:before {
  content: "\e0bf";
}
.icon-erase:before {
  content: "\e0c0";
}
.icon-evernote:before {
  content: "\e0c1";
}
.icon-export:before {
  content: "\e0c2";
}
.icon-eye-1:before {
  content: "\e0c3";
}
.icon-facebook:before {
  content: "\e0c4";
}
.icon-facebook-circled:before {
  content: "\e0c5";
}
.icon-facebook-squared:before {
  content: "\e0c6";
}
.icon-fast-backward:before {
  content: "\e0c7";
}
.icon-fast-forward:before {
  content: "\e0c8";
}
.icon-feather:before {
  content: "\e0c9";
}
.icon-flag:before {
  content: "\e0ca";
}
.icon-flash:before {
  content: "\e0cb";
}
.icon-flashlight:before {
  content: "\e0cc";
}
.icon-flattr:before {
  content: "\e0cd";
}
.icon-flickr:before {
  content: "\e0ce";
}
.icon-flickr-circled:before {
  content: "\e0cf";
}
.icon-flight:before {
  content: "\e0d0";
}
.icon-floppy:before {
  content: "\e0d1";
}
.icon-flow-branch:before {
  content: "\e0d2";
}
.icon-flow-cascade:before {
  content: "\e0d3";
}
.icon-flow-line:before {
  content: "\e0d4";
}
.icon-flow-parallel:before {
  content: "\e0d5";
}
.icon-flow-tree:before {
  content: "\e0d6";
}
.icon-folder:before {
  content: "\e0d7";
}
.icon-forward:before {
  content: "\e0d8";
}
.icon-gauge:before {
  content: "\e0d9";
}
.icon-github:before {
  content: "\e0da";
}
.icon-github-circled:before {
  content: "\e0db";
}
.icon-globe:before {
  content: "\e0dc";
}
.icon-google-circles:before {
  content: "\e0dd";
}
.icon-gplus:before {
  content: "\e0de";
}
.icon-gplus-circled:before {
  content: "\e0df";
}
.icon-graduation-cap:before {
  content: "\e0e0";
}
.icon-heart-2:before {
  content: "\e0e1";
}
.icon-heart-empty:before {
  content: "\e0e2";
}
.icon-help:before {
  content: "\e0e3";
}
.icon-help-circled:before {
  content: "\e0e4";
}
.icon-home:before {
  content: "\e0e5";
}
.icon-hourglass:before {
  content: "\e0e6";
}
.icon-inbox:before {
  content: "\e0e7";
}
.icon-infinity:before {
  content: "\e0e8";
}
.icon-info:before {
  content: "\e0e9";
}
.icon-info-circled:before {
  content: "\e0ea";
}
.icon-instagrem:before {
  content: "\e0eb";
}
.icon-install:before {
  content: "\e0ec";
}
.icon-key-1:before {
  content: "\e0ed";
}
.icon-keyboard-1:before {
  content: "\e0ee";
}
.icon-lamp:before {
  content: "\e0ef";
}
.icon-language:before {
  content: "\e0f0";
}
.icon-lastfm:before {
  content: "\e0f1";
}
.icon-lastfm-circled:before {
  content: "\e0f2";
}
.icon-layout:before {
  content: "\e0f3";
}
.icon-leaf:before {
  content: "\e0f4";
}
.icon-left:before {
  content: "\e0f5";
}
.icon-left-bold:before {
  content: "\e0f6";
}
.icon-left-circled:before {
  content: "\e0f7";
}
.icon-left-dir:before {
  content: "\e0f8";
}
.icon-left-open:before {
  content: "\e0f9";
}
.icon-left-open-big:before {
  content: "\e0fa";
}
.icon-left-open-mini:before {
  content: "\e0fb";
}
.icon-left-thin:before {
  content: "\e0fc";
}
.icon-level-down:before {
  content: "\e0fd";
}
.icon-level-up:before {
  content: "\e0fe";
}
.icon-lifebuoy:before {
  content: "\e0ff";
}
.icon-light-down:before {
  content: "\e100";
}
.icon-light-up:before {
  content: "\e101";
}
.icon-link:before {
  content: "\e102";
}
.icon-linkedin:before {
  content: "\e103";
}
.icon-linkedin-circled:before {
  content: "\e104";
}
.icon-list-1:before {
  content: "\e105";
}
.icon-list-add:before {
  content: "\e106";
}
.icon-location-1:before {
  content: "\e107";
}
.icon-lock-2:before {
  content: "\e108";
}
.icon-lock-open:before {
  content: "\e109";
}
.icon-login:before {
  content: "\e10a";
}
.icon-logo-db:before {
  content: "\e10b";
}
.icon-logout:before {
  content: "\e10c";
}
.icon-loop:before {
  content: "\e10d";
}
.icon-magnet:before {
  content: "\e10e";
}
.icon-mail-1:before {
  content: "\e10f";
}
.icon-map-1:before {
  content: "\e110";
}
.icon-megaphone-1:before {
  content: "\e111";
}
.icon-menu:before {
  content: "\e112";
}
.icon-mic:before {
  content: "\e113";
}
.icon-minus:before {
  content: "\e114";
}
.icon-minus-circled:before {
  content: "\e115";
}
.icon-minus-squared:before {
  content: "\e116";
}
.icon-mixi:before {
  content: "\e117";
}
.icon-mobile:before {
  content: "\e118";
}
.icon-monitor:before {
  content: "\e119";
}
.icon-moon-1:before {
  content: "\e11a";
}
.icon-mouse-1:before {
  content: "\e11b";
}
.icon-music-1:before {
  content: "\e11c";
}
.icon-mute:before {
  content: "\e11d";
}
.icon-network:before {
  content: "\e11e";
}
.icon-newspaper:before {
  content: "\e11f";
}
.icon-note-1:before {
  content: "\e120";
}
.icon-note-beamed:before {
  content: "\e121";
}
.icon-palette:before {
  content: "\e122";
}
.icon-paper-plane:before {
  content: "\e123";
}
.icon-pause:before {
  content: "\e124";
}
.icon-paypal:before {
  content: "\e125";
}
.icon-pencil-1:before {
  content: "\e126";
}
.icon-phone-1:before {
  content: "\e127";
}
.icon-picasa:before {
  content: "\e128";
}
.icon-picture-1:before {
  content: "\e129";
}
.icon-pinterest:before {
  content: "\e12a";
}
.icon-pinterest-circled:before {
  content: "\e12b";
}
.icon-play:before {
  content: "\e12c";
}
.icon-plus:before {
  content: "\e12d";
}
.icon-plus-circled:before {
  content: "\e12e";
}
.icon-plus-squared:before {
  content: "\e12f";
}
.icon-popup:before {
  content: "\e130";
}
.icon-print:before {
  content: "\e131";
}
.icon-progress-0:before {
  content: "\e132";
}
.icon-progress-1:before {
  content: "\e133";
}
.icon-progress-2:before {
  content: "\e134";
}
.icon-progress-3:before {
  content: "\e135";
}
.icon-publish:before {
  content: "\e136";
}
.icon-qq:before {
  content: "\e137";
}
.icon-quote:before {
  content: "\e138";
}
.icon-rdio:before {
  content: "\e139";
}
.icon-rdio-circled:before {
  content: "\e13a";
}
.icon-record:before {
  content: "\e13b";
}
.icon-renren:before {
  content: "\e13c";
}
.icon-reply:before {
  content: "\e13d";
}
.icon-reply-all:before {
  content: "\e13e";
}
.icon-resize-full:before {
  content: "\e13f";
}
.icon-resize-small:before {
  content: "\e140";
}
.icon-retweet:before {
  content: "\e141";
}
.icon-right:before {
  content: "\e142";
}
.icon-right-bold:before {
  content: "\e143";
}
.icon-right-circled:before {
  content: "\e144";
}
.icon-right-dir:before {
  content: "\e145";
}
.icon-right-open:before {
  content: "\e146";
}
.icon-right-open-big:before {
  content: "\e147";
}
.icon-right-open-mini:before {
  content: "\e148";
}
.icon-right-thin:before {
  content: "\e149";
}
.icon-rocket:before {
  content: "\e14a";
}
.icon-rss:before {
  content: "\e14b";
}
.icon-search-1:before {
  content: "\e14c";
}
.icon-share:before {
  content: "\e14d";
}
.icon-shareable:before {
  content: "\e14e";
}
.icon-shuffle:before {
  content: "\e14f";
}
.icon-signal:before {
  content: "\e150";
}
.icon-sina-weibo:before {
  content: "\e151";
}
.icon-skype:before {
  content: "\e152";
}
.icon-skype-circled:before {
  content: "\e153";
}
.icon-smashing:before {
  content: "\e154";
}
.icon-sound-1:before {
  content: "\e155";
}
.icon-soundcloud:before {
  content: "\e156";
}
.icon-spotify:before {
  content: "\e157";
}
.icon-spotify-circled:before {
  content: "\e158";
}
.icon-star-1:before {
  content: "\e159";
}
.icon-star-empty:before {
  content: "\e15a";
}
.icon-stop:before {
  content: "\e15b";
}
.icon-stumbleupon:before {
  content: "\e15c";
}
.icon-stumbleupon-circled:before {
  content: "\e15d";
}
.icon-suitcase:before {
  content: "\e15e";
}
.icon-sweden:before {
  content: "\e15f";
}
.icon-switch:before {
  content: "\e160";
}
.icon-tag-1:before {
  content: "\e161";
}
.icon-tape-1:before {
  content: "\e162";
}
.icon-target-1:before {
  content: "\e163";
}
.icon-thermometer:before {
  content: "\e164";
}
.icon-thumbs-down:before {
  content: "\e165";
}
.icon-thumbs-up:before {
  content: "\e166";
}
.icon-ticket:before {
  content: "\e167";
}
.icon-to-end:before {
  content: "\e168";
}
.icon-to-start:before {
  content: "\e169";
}
.icon-tools:before {
  content: "\e16a";
}
.icon-traffic-cone:before {
  content: "\e16b";
}
.icon-trash-1:before {
  content: "\e16c";
}
.icon-trophy:before {
  content: "\e16d";
}
.icon-tumblr:before {
  content: "\e16e";
}
.icon-tumblr-circled:before {
  content: "\e16f";
}
.icon-twitter:before {
  content: "\e170";
}
.icon-twitter-circled:before {
  content: "\e171";
}
.icon-up:before {
  content: "\e172";
}
.icon-up-bold:before {
  content: "\e173";
}
.icon-up-circled:before {
  content: "\e174";
}
.icon-up-dir:before {
  content: "\e175";
}
.icon-up-open:before {
  content: "\e176";
}
.icon-up-open-big:before {
  content: "\e177";
}
.icon-up-open-mini:before {
  content: "\e178";
}
.icon-up-thin:before {
  content: "\e179";
}
.icon-upload:before {
  content: "\e17a";
}
.icon-upload-cloud:before {
  content: "\e17b";
}
.icon-user-1:before {
  content: "\e17c";
}
.icon-user-add:before {
  content: "\e17d";
}
.icon-users:before {
  content: "\e17e";
}
.icon-vcard:before {
  content: "\e17f";
}
.icon-video-1:before {
  content: "\e180";
}
.icon-vimeo:before {
  content: "\e181";
}
.icon-vimeo-circled:before {
  content: "\e182";
}
.icon-vkontakte:before {
  content: "\e183";
}
.icon-volume:before {
  content: "\e184";
}
.icon-water:before {
  content: "\e185";
}
.icon-window:before {
  content: "\e186";
}
.icon-wrong6:before {
  content: "\e187";
}
.icon-big64:before {
  content: "\e188";
}
.icon-polygonal48:before {
  content: "\e189";
}
.icon-gold-logo:before {
  content: "\e18a";
}
.icon-menu55:before {
  content: "\e18b";
}
.icon-menu53:before {
  content: "\e18c";
}
.icon-menu45:before {
  content: "\e18d";
}
.icon-menu27:before {
  content: "\e18e";
}
.icon-list23-1:before {
  content: "\e18f";
}
